#navbar {
    margin-top: 5px;
    overflow: hidden;
    background-color: #57AEFF19;
    padding: 20px 10px;
    border-radius: 20px;
    transition: 0.4s;
    position: fixed;
    width: 98vw;
    top: 0;
    z-index: 99;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#navbar a {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
}

#navbar a:hover {
    background-color: #ddd;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}

#navbar a.active {
    background-color: dodgerblue;
    border-radius: 15px;
    color: white;
}

#navbar-right {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
